{
  "extends": [
    "google",
    "plugin:react/recommended",
  ],
  "rules": {
    "indent": [2, 2, {SwitchCase: 1}],
    "require-jsdoc": 0,
    "no-invalid-this": 0,
    "object-curly-spacing": 0,
    "max-len": [1,120, 4, {"ignoreUrls": true}]
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "mocha": true,
  },
  "globals": {
    "expect": true
  }
}
